.m-1{
    margin: 10px;
}

.m-2{
    margin: 20px;
}

.m-3{
    margin: 30px;
}

.m-4{
    margin: 40px;
}

.m-5{
    margin: 50px;
}

.m-6{
    margin: 60px;
}

.m-7{
    margin: 70px;
}

.m-8{
    margin: 80px;
}

.m-9{
    margin: 90px;
}

.m-10{
    margin: 100px;
}

.p-1{
    padding: 0px;
}

.p-2{
    padding: 20px;
}

.p-3{
    padding: 30px;
}

.p-4{
    padding: 40px;
}

.p-5{
    padding: 50px;
}

.p-6{
    padding: 60px;
}

.p-7{
    padding: 70px;
}

.p-8{
    padding: 80px;
}

.p-9{
    padding: 90px;
}

.p-10{
    padding: 100px;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.of-cover{
    object-fit: cover;
}

.op-center{
    object-position: center;
}

.ov-hidden{
    overflow: hidden;
}

.ov-auto{
    overflow: auto;
   
}

.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.sticky{
    position: sticky;
}

.gap-1{
    gap: 10px;
}

.gap-2{
    gap: 20px;
}

.gap-3{
    gap: 30px;
}

.gap-4{
    gap: 40px;
}

.gap-5{
    gap: 50px;
}

.gap-6{
    gap: 60px;
}

.gap-7{
    gap: 70px;
}

.gap-8{
    gap: 80px;
}

.gap-9{
    gap: 90px;
}

.gap-10{
    gap: 100px;
}

